html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-dialog__actions.dialog-footer {
    display: flex;
    justify-content: flex-end;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        flex: 1;
    }
}


